# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
coverage.html
coverage_integration.html
coverage_integration_out
*.out
integration_out.txt

# Dependency directories (remove the comment below to include it)
# vendor/

# Cursor
.cursor/

# Go workspace file
go.work

# macOS
.DS_Store

# The build directory
dist/

# Integration test binary (built by TestMain)
integration/windsor-integration-test-binary

python_old
age.key
age.public.key

# Temporary development folders
/contexts/
/kustomize/
/terraform/
/windsor.yaml

# managed by windsor cli
.windsor/
.volumes/
terraform/**/backend_override.tf
contexts/**/.terraform/
contexts/**/.tfstate/
contexts/**/.kube/
contexts/**/.talos/
contexts/**/.aws/
contexts/**/.omni/
contexts/**/.azure/
contexts/**/.gcp/
