$schema: https://windsorcli.dev/schema/2026-02/schema
type: object
properties:
  substitutions:
    type: object
    additionalProperties:
      type: object
      additionalProperties:
        type: string

