$schema: https://windsorcli.dev/schema/2026-02/schema
type: object
properties:
  platform:
    type: string
    enum:
      - none
      - docker
      - incus
      - metal
      - aws
      - azure
